@import 'variables';

body {
  background-color: $color-background;
}

a {
  text-decoration: none;
  color: $color-text-dark;
}

a:hover {
  color: $color-text-dark;
  opacity: 0.92;
}

img {
  user-select: none;
  pointer-events: none;
}

::selection {
  background-color: #FFF;
}