@import 'variables';

@font-face {
  font-family: AvenirNext;
  src: url("fonts/AvenirNext-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: AvenirNext;
  src: url("fonts/AvenirNext-DemiBold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: AvenirNext;
  src: url("fonts/AvenirNext-Bold.ttf");
  font-weight: 600;
}

html,
body {
  font-family: AvenirNext;
}

.nowrap {
  white-space: nowrap;
}

.notice {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 0.8em;
  padding: 0 0.2em;
}

.notice.red {
  color: red;
}

.small-text {
  font-size: 0.8em;
}

.small-text-block {
  font-size: 0.8em;
  display: block;
  margin-top: 0.8em;
}